<div style="background-color: #F2F2F2;" id="info-extracting-page">
    <div class="layui-fluid" id="LAY-component-grid-mobile" style="width: 70%; margin: auto 200px;">
        <div class="layui-row layui-col-space12">
            <div class="layui-col-xs8">
                <div class="layui-card" style="height: 482px;">
                    <div class="layui-card-header" style="text-align: center;">
                        需要藏入数据的图像
                    </div>
                    <div class="layui-card-body">
                        <div class="layui-upload-drag" id="orginal-image-upload" style="width:60%;height:330px;margin:20px auto;">
                            <i class="layui-icon"></i>
                            <p>点击上传，或将文件拖拽到此处</p>
                            <img style="width: 90%;height: 85%;" id="original-image" src="">
                        </div>
                        <input class="layui-upload-file" type="file" accept="" name="file">
                    </div>
                </div>
            </div>
            <div class="layui-col-xs4">
                <div class="layui-card" style="height: 235px;">
                    <div class="layui-card-header" style="text-align: center;">
                        生成的秘密图像（主）
                    </div>
                    <div class="layui-card-body">
                        <img src="" onclick="infoEmbed.method.show_img(this);" id="resultImage1" style="width:60%;height:60%;">
                    </div>
                </div>
                <div class="layui-card" style="height: 235px;">
                    <div class="layui-card-header" style="text-align: center;">
                        生成的秘密图像（辅助）
                    </div>
                    <div class="layui-card-body">
                        <img src="" onclick="infoEmbed.method.show_img(this);" id="resultImage2" style="width:60%;height:60%;">
                    </div>
                </div>
            </div>
            <div class="layui-col-xs4">
                <div class="layui-card" style="height: 200px;">
                    <div class="layui-card-header" style="text-align: center;">
                        需要藏入的秘密数据
                    </div>
                    <div class="layui-card-body">
                        <div class="layui-input-inline" style="margin-top:15px;">
                            <textarea id="input-info" rows="3" class="layui-textarea"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs4">
                <div class="layui-card" style="height: 200px;">
                    <div class="layui-card-header" style="text-align: center; color: #16b322;">
                        操作栏
                    </div>
                    <div class="layui-card-body" style="margin:40px auto;">
                        <button class="layui-btn layui-btn-normal" onclick="infoEmbed.method.generateImage();">信息藏入</button>
                        <button class="layui-btn" onclick="infoEmbed.method.payAndDownload();">购买并下载</button>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs4">
                <div class="layui-card" style="height: 200px;">
                    <div class="layui-card-header" style="text-align: center;">
                        PSNR（峰值信噪比）
                    </div>
                    <div class="layui-card-body" style="margin-top:20px;">
                        <div class="layui-form-label" id="psnr1">
                        </div>
                        <div class="layui-form-label" id="psnr2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/layui/layui.all.js"></script>
<script src="/js/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="/js/user/infoEmbed.js"></script>
