<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>图像隐写在线服务平台</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <link rel="shortcut icon" href="/layui/images/face/65.gif"/>
    <script src="/js/jquery/2.0.0/jquery.min.js"></script>
    <script src="/js/user/download.js"></script>
    <style>
        body .layui-layout-admin .footer-demo {
            height: 50px;
            line-height: 50px;
            padding: 5px 0;
        }

        .layui-layout-admin .layui-footer {
            position: fixed;
            left: 200px;
            right: 0;
            bottom: 0;
            height: 44px;
            line-height: 44px;
            padding: 0 15px;
            background-color: #eee;
        }

        .footer {
            padding: 30px 0;
            line-height: 30px;
            text-align: center;
            color: #666;
            font-weight: 300;
        }
    </style>
</head>
<body style="text-align: center;">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">图像隐写在线服务平台</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a onclick="">图像隐写</a></li>
            <li class="layui-nav-item"><a onclick="">信息提取</a></li>
            <li class="layui-nav-item"><a href="https://www.jianshu.com/p/ca4fcbe7490d" target="_blank">算法描述</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">系统设置</a>
                <dl class="layui-nav-child">
                    <dd><a href="">主题设置</a></dd>
                    <dd><a href="">用户须知</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <span class="" id="personal-select"></span>
            <li class="layui-nav-item">
                <a th:text="${user.accountName}"></a>
                <dl id="user-operate-list" class="layui-nav-child" th:attr="data-mobile=${user.mobile}">
                    <dd><a onclick="userIndexJs.method.userInfoDialog();">基本资料</a></dd>
                    <dd><a onclick="userIndexJs.method.updatePasswordDialog();">安全设置</a></dd>
                    <dd><a href="/orderView/personalOrders">我的订单<span class="" id="my-order"></span></a></dd>
                    <dd><a href="/userView/login">退出登录</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<!-- 条目中可以是任意内容，如：<img src=""> -->
<div class="layui-carousel" id="banner">
    <div carousel-item>
        <img src="https://image-steganography.oss-cn-hangzhou.aliyuncs.com/banner/%E5%9B%BE%E5%83%8F%E9%9A%90%E5%86%99%EF%BC%8C%E4%B8%96%E7%95%8C%E4%B9%8B%E7%BE%8E%20%281%29.png" style="width: 100%;height: 100%">
        <img src="https://image-steganography.oss-cn-hangzhou.aliyuncs.com/banner/%E5%9B%BE%E5%83%8F%E9%9A%90%E5%86%99%EF%BC%8C%E4%B8%96%E7%95%8C%E4%B9%8B%E7%BE%8E%20%282%29.png" style="width: 100%;height: 100%">
        <img src="https://image-steganography.oss-cn-hangzhou.aliyuncs.com/banner/%E5%9B%BE%E5%83%8F%E9%9A%90%E5%86%99%EF%BC%8C%E4%B8%96%E7%95%8C%E4%B9%8B%E7%BE%8E.png" style="width: 100%;height: 100%">
    </div>
</div>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>图像隐写在线服务平台</legend>
</fieldset>

<div style="padding: 20px; background-color: #F2F2F2;">
    <!-- 图像隐写 -->
    <div class="layui-row layui-col-space30 layui-show" id="menu1">
        <div class="layui-col-md5 layui-col-md-offset1">
            <div class="left" style="width: 100%;height: 1000px;background: white;">
                <button type="button" class="layui-btn left-btn1" id="image-upload">
                    <i class="layui-icon">&#xe67c;</i>点击上传您需要处理的图片
                </button>
                <div class="left-show" style="width: 100%;height: 50%;border-bottom: 1px solid darkgray;">
                    <div class="layui-upload-drag" style="width: 70%;height: 70%;margin: 50px;float: left">
                        <i class="layui-icon"></i>
                        <img id="original-image" src="https://image-steganography.oss-cn-hangzhou.aliyuncs.com/banner/%E5%9B%BE%E7%89%87%E4%B8%8A%E4%BC%A0%20%281%29.png" style="width: 90%;height:90%;">
                    </div>
                </div>
                <div class="layui-form layui-form-pane" style="width: 100%;height: 25%;margin-top: 60px;">
                    <div class="layui-form-item layui-form-text" style="width: 70%;margin:0 auto;">
                        <label class="layui-form-label">信息藏入</label>
                        <div class="layui-input-block">
                            <textarea placeholder="请输入您要藏入的信息" id="input-info" rows="5" class="layui-textarea"></textarea>
                        </div>
                    </div>
                </div>
                <div class="left-bnt2" style="width: 100%;height: 25%;">
                    <button class="layui-btn" onclick="userIndexJs.method.generateImage();" style="margin: 0 auto;">
                        生成藏入信息后的图片
                    </button>
                </div>
            </div>
        </div>
        <div class="layui-col-md5">
            <div class="result" style="height: 1000px;width: 100%;background: white;">
                <div class="right-result1" style="width: 70%;height: 40%;margin: 0px auto;">
                    <img id="resultImage1" oncontextmenu="return false;" onselectstart="return false;"
                         src="https://image-steganography.oss-cn-hangzhou.aliyuncs.com/banner/%E4%B8%8A%E4%BC%A0%E5%9B%BE%E7%89%87%20%283%29.png"
                         style="width: 90%;height: 75%;">
                    <div class="layui-form-label" style="margin:auto 135px;">PSNR:<label id="psnr1"></label>
                    </div>
                </div>
                <div class="right-result2" style="width: 70%;height: 40%;margin: 0px auto;">
                    <img id="resultImage2" oncontextmenu="return false;" onselectstart="return false;"
                         src="https://image-steganography.oss-cn-hangzhou.aliyuncs.com/banner/%E4%B8%8A%E4%BC%A0%E5%9B%BE%E7%89%87%20%283%29.png"
                         style="width: 90%;height: 75%;">
                    <div class="layui-form-label" style="margin:auto 135px;">PSNR:<label id="psnr2"></label>
                    </div>
                </div>
                <div class="right-btn2" style="width: 100%;height: 20%;">
                    <button class="layui-btn layui-btn-normal" onclick="userIndexJs.method.payAndDownload();" style="margin: 33px auto;">
                        购买并下载
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- 信息提取 -->
    <div class="layui-row layui-col-space30 layui-hide" id="menu2">

    </div>
    <!-- 隐写算法 -->
    <div class="layui-row layui-col-space30 layui-hide" id="menu3">
        图像隐写算法描述
    </div>
    <!-- 底部 -->
    <div class="layui-footer footer footer-demo">
        <div class="layui-main">
            <p>© 2020 <a href="/">ruanpeizhu.top</a> Jake license</p>
            <p>
                <a href="javascript:;" target="_blank">案例</a>
                <a href="javascript:;" target="_blank">支持</a>
                <a href="https://github.com/XMUTLZY/" target="_blank" rel="nofollow">GitHub</a>
                <a href="https://www.jianshu.com/u/93156684d789" target="_blank" rel="nofollow">简书</a>
                <a href="#javascript:;" target="_blank" class="layui-hide-xs">公众号</a>
                <a href="javascript:;" target="_blank" rel="nofollow">赣ICP备11006672号-2</a>
            </p>
            <div class="site-union">
                <p class="site-union-desc">
                <span>
                  厦门理工学院
                </span>
            </div>
        </div>
    </div>
    <!-- 隐藏原始图片地址 -->
    <input type="hidden" name="orginalImage" id="orginalImage">

    <div id="dialog-edit-user-info" style="display: none;">
        <div class="pgc-questionManagement">
            <div class="layui-form filter-wrap">
                <div class="layui-form-item">
                    <label class="layui-form-label">手机号:</label>
                    <div class="layui-input-inline" style="width: 320px">
                        <input id="edit-mobile" disabled="disabled" class="layui-input" value=""/>
                    </div>
                    <div class="layui-form-mid layui-word-aux" style='color: red;'>无法更改</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">用户名:</label>
                    <div class="layui-input-inline" style="width: 320px">
                        <input id="edit-account-name" type="text" class="layui-input" value=""/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">姓名:</label>
                    <div class="layui-input-inline" style="width: 320px">
                        <input id="edit-real-name" type="text" class="layui-input" value=""/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">城市:</label>
                    <div class="layui-input-inline" style="width: 320px">
                        <input id="edit-city" type="text" class="layui-input" value=""/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">邮箱:</label>
                    <div class="layui-input-inline" style="width: 320px">
                        <input id="edit-email" type="text" class="layui-input" value=""/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">单位:</label>
                    <div class="layui-input-inline" style="width: 320px">
                        <input id="edit-company" type="text" class="layui-input" value=""/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">职业:</label>
                    <div class="layui-input-inline" style="width: 320px">
                        <input id="edit-career" type="text" class="layui-input" value=""/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">头像:</label>
                    <div class="layui-upload">
                        <button type="button" class="layui-btn" id="edit-portrait-btn">上传图片</button>
                        <div class="layui-input-inline" style="width: 320px">
                            <div class="layui-upload-list">
                                <img class="layui-upload-img" id="edit-portrait-img"
                                     style="width: 100px;height: 100px; float: left;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="dialog-update-password" style="display: none;">
        <div class="pgc-questionManagement">
            <div class="layui-form filter-wrap">
                <div class="layui-form-item">
                    <label class="layui-form-label">旧密码:</label>
                    <div class="layui-input-inline" style="width: 320px">
                        <input type="password" id="old-password" class="layui-input" value=""/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">新密码:</label>
                    <div class="layui-input-inline" style="width: 320px">
                        <input id="new-password" type="password" class="layui-input" value=""/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">再输一次:</label>
                    <div class="layui-input-inline" style="width: 320px">
                        <input type="password" id="again-new-password" class="layui-input" value=""/>
                    </div>
                    <div class="layui-form-mid layui-hide layui-word" id="update-password-tip" style='color: red;'>密码不一致</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/layui/layui.all.js"></script>
<script type="text/javascript" src="/js/user/userIndex.js"></script>
</body>
</html>